@model IEnumerable<XPTOChallenge.Models.OrdemServico>

@{
    ViewData["Title"] = "Ordens de serviço";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-info" >Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tituloServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomeCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valorServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataExecucao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tituloServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomeCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valorServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataExecucao)
            </td>
            <td>
                <a class="btn btn-group-sm btn-success" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
            </td>
            <td>
                <a class="btn btn-group-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>

            </td>
            <td>
                <a class="btn btn-group-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>

            </td>
        </tr>
}
    </tbody>
</table>
