@model IEnumerable<XPTOChallenge.Models.OrdemServico>

@{
    ViewData["Title"] = "Ordens de serviço";
}

<h2>@ViewData["Title"]</h2>

    <a asp-action="Create" class="btn btn-warning">Criar novo</a>
<table class="table table-hover table-dark" style="width: 100%">
    <thead class="">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tituloServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.nomeCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valorServico)
            </th>
            <th align="center">
                @Html.DisplayNameFor(model => model.dataExecucao)
            </th>
            <th style="text-align: center">Operações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="align-content: space-between">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tituloServico)
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.nomeCliente)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.valorServico)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.dataExecucao)
                </td>
                <td align="center">
                    <a class="btn btn-group-sm btn-success" style="margin-left: 3em" asp-action="Edit" asp-route-id="@item.Id">Editar</a>

                    <a class="btn btn-group-sm btn-info" style="margin-left: 3em" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>

                    <a class="btn btn-group-sm btn-danger" style="margin-left: 3em" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
