@model IEnumerable<XPTOChallenge.Models.OrdemServico>

@{
    ViewData["Title"] = "Ordens de serviço";
}

<h2>@ViewData["Title"]</h2>

<span>
    <a asp-action="Create" class="btn btn-warning">Criar novo</a>
    <form>
        <div class="form-group">
            <label for="selecionaVendedor">Filtrar por vendedor</label>
            <span>

                <select class="form-control" style="width: 15em" id="selecionaVendedor" 
                        asp-items="@(new SelectList(Model, "Id", "Cliente"))">
                    

                    @*<option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>*@
                </select>

            </span>
        </div>

    </form>
</span>
<table class="table" style="width: 100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tituloServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.nomeCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valorServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataExecucao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="align-content: space-between">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tituloServico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.nomeCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.valorServico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dataExecucao)
                </td>
                <td>
                    <a class="btn btn-group-sm btn-success" style="margin-left: 3em" asp-action="Edit" asp-route-id="@item.Id">Editar</a>

                    <a class="btn btn-group-sm btn-info" style="margin-left: 3em" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>

                    <a class="btn btn-group-sm btn-danger" style="margin-left: 3em" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
